* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    background-color: blanchedalmond;
  }

  header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    margin: 0;
    
  }

  header h1 {
    line-height: 3;
  }
  
  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
  }
  
  .image1 {
    background-image: url("../images/london-background.png");
    height: 500px;
    background-size: cover;
  }
  
  #work {
    display: grid;
    grid-template-rows: 300px 300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "project1 project2 project3"
    "project4 project4 project4";
  }
  
  #project1 {
    grid-area: project1;
    background-image: url(../images/project1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #project2 {
    grid-area: project2;
    background-image: url(../images/project2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #project3 {
    grid-area: project3;
    background-image: url(../images/project3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #project4 {
    grid-area: project4;
    background-image: url(../images/project4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .p {
    color: rgb(248, 249, 248);
    background-color: black;
    font-size: 15px;
    align-items: center;
  }

  .phone {
    text-align: right;
    font-size: 20px;
  }
  
  /* h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  } */
  
  p {
    margin: 0;
  }