* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
  }

  header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    margin: 0;
    
  }

  header h1 {
    line-height: 3;
  }
  
  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
  }
  
  .image1 {
    background-image: url("./london-background.png");
    height: 500px;
    background-size: cover;
  }
  